.mainContainer {
    text-align: center;
    display: grid;
    width: 100%;
    height: 100%;
    background-color: powderblue;
    grid-template-columns: auto auto;
    grid-template-rows: auto 5fr auto;
    grid-template-areas: "header header" "mainView mainView" "footer footer";
    background: #2B4B6F;
}

.voznje {
    height: 200px;
}

.mainView{
    grid-area: mainView;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "logIn register";
}
.mainView > div {
    text-align: center;
    padding: 5px 0;
}

.logIn {
    grid-area: logIn;
    background: #2B4B6F;
    color: #6587AD;
    align-self: center;
}

.register {
    grid-area: register;
    background: #2B4B6F;
    color: #6587AD;
    align-self: center;
}

.header {
    grid-area: header;
    background: #6587AD;
    display: flex;
}

/*header > button {

}*/

.footer {
    grid-area: footer;
    background: #6587AD;
}

button {
    background: #0A1D33;
    color: #6587AD;
}

    button:hover {
        background-color: gray;
    }

.Prijavljen{
    display:none;
}
ul {
    background: #6587AD;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-self: stretch;
}

li{
    float: left;
}

li:hover {
    background: #2B4B6F;
}

#username {
    border-color: #6587AD;
}

#password {
    border-color: #6587AD;
}

#view{
    grid-area:view;
}

#edit{
    grid-area: edit;
}

#change{
    grid-area:change;
}

#kreirajVozaca{
    grid-area: create;
}

#promeniVoznje{
    grid-area: changeR;
}

#formirajVoznju{
    grid-area: createR;
}

#logout{
    grid-area: logout;
}

table{
    border: 2px solid blue;
    margin-top:5%;
}

#prikazVoznji{
    display : none;
}

#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#floating-panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    width: 350px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

#latlng {
    width: 225px;
}